name: Test-Project
on: workflow_dispatch
  jobs:
    test:
      runs-on: ubuntu-latest
      steps:
        - name: Download the code
          uses: actions/checkout@v3
        - name: Install NodeJS
          uses: actions/setup-node@v3
          with:
            node-version: 18
        - name: Install Dependencies
          run: npm ci
        - name: Run test
          run: npm test
